.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    height: 100px;
    width: 400px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}