.button {
    background-color: #f47b67;
    border: none;
    color: white;
    height: 100px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 8px;
}