.App {
    text-align: center;
    position: relative;
    background-color: #18191C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-header {
    background-color: #18191C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(48px + 2vmin);
    color: white;
    position: absolute;
    top: 5%;
}

.App-footer {
    background-color: #18191C;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    color: white;
    position: absolute;
    bottom: 0;
}